Repository bevyengine/bevy_editor_prototypes, pull requests merged in 2024-09, with the labels that each got.

#19 Setup `mdbook` checks and GitHub pages
  .github/workflows/book.yaml
  .github/workflows/ci.yaml
Labels: documentation, enhancement

#2 Undo and redo logic with generic atomic actions and auto component change undo/redo
  crates/bevy_undo/Cargo.toml
  crates/bevy_undo/examples/cube_move.rs
  crates/bevy_undo/src/lib.rs
Labels: S-Ready-For-Final-Review, A-Undo

#24 Make Bevy dependency repo Main branch & Reserve components for editor layout system
  Cargo.toml
  crates/bevy_panes/Cargo.toml
  crates/bevy_panes/src/lib.rs
Labels: A-Panes, C-Dependencies

#48 Add more wishlist items
  design-book/src/roadmap.md
Labels: A-Meta
